::-webkit-scrollbar {
    display: none;
}
.tamaño{
    height: 100%;
    width: 21.5rem;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
}
.OfertasPascua{
    display: flex;
    justify-content:space-between;
    transform: translate(0%, -35%);
    
}
.tamaño:hover{
    border: 3px solid rgb(105, 107, 197);
}